.navbar-more-overlay
nav.navbar.navbar-inverse.navbar-fixed-top.animate
  .container.navbar-more.visible-xs
    form.navbar-form.navbar-left(role="search")
      .form-group
        .input-group
          input.form-control(type="text" placeholder="Search for...")
          span.input-group-btn
            button.btn.btn-default(type="submit") Go
    ul.nav.navbar-nav
      li
        a(href="#")
          span.menu-icon.fa.fa-user-circle
          | Profile
      li
        a(href="#")
          span.menu-icon.fa.fa-building-o
          | My Company
  .container
    .navbar-header.hidden-xs
      a.navbar-brand(href="#") Productivity App
    ul.nav.navbar-nav.navbar-right.mobile-bar
      li
        a(href="#")
          span.menu-icon.fa.fa-home
          | Home
      li
        a(href="#")
          span.menu-icon.fa.fa-share-alt-square
          span.visible-xs Network
          span.hidden-xs My Network
      li.hidden-xs
        a(href="#")
          span.menu-icon.fa.fa-suitcase
          | Projects
      li
        a(href="#")
          span.menu-icon.fa.fa-users
          | Teams
      li.hidden-xs
        a(href="#")
          span.menu-icon.fa.fa-user-circle
          | Employee
      li
        a(href="#")
          span.menu-icon.fa.fa-comments
          | Messenger
      li
        a(href="#navbar-more-show")
          span.menu-icon.fa.fa-bars
          | More