extends layout

block content
  h1 Welcome to the Main Page
  p.lead Choose an action from below.
  hr
  .row
    .col-sm-6
      h2 Create Company
      p If your company is not subscribed then this is the first step. After creating a company you will receive the credentials for the Admin User to log in and configure the application.
      p
        a.btn.btn-default(href='/company/create', role='button') Create Company »
    .col-sm-6
      h2 Log In
      p Validate your Credentials and log into the application.
      p
        a.btn.btn-default(href='/login', role='button') Log In »
  hr
  .row
    h1 Subscribed Companies
    p.lead These are the companies in the DB.

    ul
      li Item A
      li Item B
      li Item C